.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  flex-wrap: wrap;
}

.header-navlink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}

.header-link {
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
  margin-left: 25px;
}

.btn-clear {
  border: none;
  background: transparent;
  margin-left: 40px;
}
.btn-clear:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .header-logo {
    font-size: 25px;
  }
  .header-link {
    margin-left: 15px;
    font-size: 15px;
  }
  .btn-clear {
    margin-left: 15px;
  }
}

@media screen and (min-width: 850px) {
  .header-logo {
    margin-left: 200px;
  }
  .header-navlink {
    margin-right: 200px;
  }
}
